/* Base stylesheet */

<?php

// Sizes
$header_size = "70px";

// Colors
$base_bg_color = "#288EFF";
$block_bg_color = "#f1f1f1";
$block_text_color = "#555";
?>


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	zoom: 1;
	opacity: 1;
	font-family: Arial, Helvetica, sans-serif;
	cursor: default;
}

body {
	margin-top: <?=$header_size?>;
}

.topmenu {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	height: <?=$header_size?>;
	background-color: <?=$base_bg_color?>;
	box-shadow: 0 2px 5px -2px rgba(0,0,0,.5), inset 0 1px 0 0 rgba(255,255,255,.3), inset 0 50px 50px -25px rgba(255,255,255,.4);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.content {
	
}

.centerbox {
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px;
}

.box {
	display: inline-block;
	background-color: <?=$block_bg_color?>;
	border: 5px solid rgba(0,0,0,.4);
	border-radius: 12px;
}

.box-shadow {
	box-shadow: 0 5px 7px -1px rgba(0,0,0,.3);
}

.loginbox {
	width: 300px;
	margin: auto 0;
	margin-top: 50px;
	padding-bottom: 20px;
}

.box-title {
	display: block;
	text-align: center;
	font-size: 24px;
	color: <?=$block_text_color?>;
	padding: 12px 3px;
	text-shadow: 0 1px #fff;
}

.box-inputs,
.box-buttons
{
	padding: 15px;
	padding-bottom: 0px;
}

.box-inputs .input
{
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	height: 35px;
	padding: 5px;
	border: 1px solid #666;
	border-bottom-width: 0px;
	border-top-color: #ccc;
	box-shadow: inset 0 17px 35px -17px #ccc;
	text-indent: 7px; 
	cursor: text;
}

.box-inputs .input[disabled]
{
	color: #777;
	border-color: #aaa;
	cursor: default;
}

.box-inputs .input:nth-child(1)
{
	border-top-color: #666;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.box-inputs .input:nth-last-child(1)
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-width: 1px;
}


/* BUTTON */
.box-buttons .button {
	display: block;
	width: 100%;
	height: 35px;
	border: 1px solid #666;
	border-radius: 5px;
	cursor: pointer;
	transition: all;
	transition-duration: .14s;
	margin-bottom: 5px;
	text-decoration: none;
	font-size: 14px;
	line-height: 33px;
}

/* GREEN BUTTON */
.box-buttons .green {
	background-color: #669E2E;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.5), inset 0 35px 35px -17px rgba(255,255,255,.3);
	color: #f8f8f8;
	text-shadow: 0 1px #547616;
}

.box-buttons .green:hover {
	background-color: #568E1E;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.5), inset 0 35px 35px -17px rgba(255,255,255,.6);
}

.box-buttons .green:active {
	background-color: #76aE3E;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.4), inset 0 -35px 35px -17px rgba(255,255,255,.3);
}

/* RED BUTTON */
.box-buttons .red {
	background-color: #c22;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.5), inset 0 35px 35px -17px rgba(255,255,255,.3);
	color: #f8f8f8;
	text-shadow: 0 1px #761416;
}

.box-buttons .red:hover {
	background-color: #e33;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.5), inset 0 35px 35px -17px rgba(255,255,255,.45);
}

.box-buttons .red:active {
	background-color: #e55;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.4), inset 0 -35px 35px -17px rgba(255,255,255,.3);
}

/* GRAY BUTTON */
.box-buttons .gray {
	background-color: #bbb;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.5), inset 0 35px 35px -17px rgba(255,255,255,.4);
	color: #333;
	text-shadow: 0 1px #fff;
}

.box-buttons .gray:hover {
	background-color: #999;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.5), inset 0 35px 35px -17px rgba(255,255,255,.8);
}

.box-buttons .gray:active {
	background-color: #aaa;
	box-shadow: inset 0 1px 0 0px rgba(255,255,255,.4), inset 0 -35px 35px -17px rgba(255,255,255,.3);
}

.error-box {
	display: inline-block;
	margin-top: 25px;
	width: 300px;
	border: 2px solid rgba(255, 50, 50,.4);
	border-radius: 5px;
	font-size: 14px;
	padding: 10px;
	background-color: #ffe9e9;
}

.topmenu {
	text-align: center;
}

.topmenu a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 1px rgba(0,0,0,.3);
	height: <?=$header_size?>;
	line-height: <?=$header_size?>;
	padding: 0 20px;
	transition: all;
	transition-duration: .3s;
}

.topmenu a:hover {
	background-color: rgba(0,0,0,.25);
}

.topmenu a:active {
	background-color: rgba(255,255,255,.25);
}











